body {
  background-color: #e8ecf0;
}
.title {
  text-align: center;
}
#form {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  .user {
    width: 50%;
    margin-left: 10%;
    input {
      border-radius: 20px;
      width: 60%;
      padding: 30px 40px;
      border: none;
      outline-color: #c3bebe;
      margin-top: 5%;
    }

    .user__phone {
      padding: 30px 0px 30px 120px;
      width: 55%;
    }
    .user__select {
      position: absolute;
      left: 4%;
      padding: 8px 20px;
      border: 1px solid #ef3e42;
      border-radius: 10px;
      outline: none;
    }
  }
  .request {
    width: 50%;
    margin-top: 2%;
    &__select {
      padding: 15px;
      width: 70%;
      border-radius: 10px;
      border: none;
      outline: none;
    }

    &__textarea {
      border: none;
      outline-color: #c3bebe;
      border-radius: 10px;
      padding: 20px 10px;
    }
    .form__submit {
      background-color: #f45369;
      padding: 15px 80px;
      color: #fff;
      border: none;
      border-radius: 5px;
      margin-top: 5%;
      margin-left: 30%;
      font-size: 18px;
      letter-spacing: 5px;
      transition: all 0.5s;
      &:hover {
        background-color: red;
      }
    }
  }
}
